{%openside%}
    <div class='m-b-10 text-center'>{[PMC_D00]}</div>
    <div class='table-responsive m-t-20'><table class='table table-bordered clear'>
        <thead>
            <tr>
                <th>
                    <small><strong>{[PMC_011]}</strong></small>
                </th>
                <th>
                    <small><strong>{[PMC_012]}</strong></small>
                </th>
                <th>
                    <small><strong>{[PMC_013]}</strong></small>
                </th>
            </tr>
        </thead>
        <tbody>
        {pmcontrol.{
            <tr>
                <td>
                    <div class='clearfix'>
                        <div class='pull-left m-r-10'>{%avatar%}</div>
                        <div class='overflow-hide'><span class='m-l-10 m-r-10'>{%profile%}</span></div>
                    </div>
                </td>
                <td>{%pmtag%}</td>
                <td>{%dates%}</td>
            </tr>
        }}
        </tbody>
    </table></div>
    <div class='bg-info text-center'>{%info%}</div>
{%closeside%}
