{%openside%}
    <div class='panel panel-default'>
        {search.{
            <div class='well m-t-15 text-center'><a href="{%searchlink%}">{[BDAY_011]}</a></div>
        }}
        <div class='text-center'>{[BDAY_012]} {%daymsg%}</div>
        {namedayd.{
            <div class='m-t-10 text-center'><small><strong>{%dnameday%}</strong></small> {[BDAY_013]}</div>
        }}
        {namedayt.{
            <div class='m-t-15 text-center'>{[BDAY_014]}<small><strong>{%tnameday%}</strong></small> {[BDAY_015]}</div>
        }}
        {birthdated.{
    	    <div class='well m-b-10 text-center'>{[BDAY_016]}{%dbirthdate%}</div>
        }}
        {birthdatet.{
            <div class='well m-b-10 text-center'>{[BDAY_017]}{%tbirthdate%}</div>
        }}
        {usernamedayd.{
    	    <div class='well m-b-10 text-center'>{[BDAY_018]}{%dusernameday%}</div>
        }}
        {usernamedayt.{
    	    <div class='well m-b-10 text-center'>{[BDAY_019]}{%tusernameday%}</div>
        }}
        {partday.{
    	    <div class='well m-b-10 text-center'>{%pday%}</div>
        }}
        {zodiak.{
    	    <div class='m-t-10 text-center'>
    	        <img src='{%images%}' data-toggle='tooltip' data-placement='right' title='{%title%}'>
    	    </div>
        }}
        <div class='panel-footer m-t-10 text-center'>{%leapyear%}</div>
    </div>
{%closeside%}